#close {
  display: none;
}

/* add font Avenir */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: "Avenir";
  src: url(https://DTSEMOBILEDEV.github.io/font/AvenirLTStd-Medium.otf) fornat("opentype");
}

/* global div */

.section {
  margin: 15px !important;
}
.section-submit {
  padding-bottom: 10px;
}
div.btn-group {
  padding-bottom: 10px;
}
.workflow {
  border-radius: 20px;
  box-shadow: 0px 10px 35px -12px rgba(0,0,0,0.75);
  background-color: #FFF;
}
.workflow-new{
  margin: 10px;
}
.section.workflow-recover-email-sent {
  margin: 10px;
}
div.block.block-update-text {
  margin: 10px;
}
button.btn.btn-primary.btn-submit.ng-isolate-scope.mobile {
  font-weight: bolder;
}
/* .section-profile-information {
  margin: 15px;
} */

/* h2.title.title-primary.ng-isolate-scope {
  margin-top: 10px;
}

h2.title.title-primary.ng-scope {
  margin-top: 10px;
} */

/* .ng-scope {
  /* margin-top: 10px; */
/* }  */

#disneyid-wrapper {
  border: 1px solid red;
}

/* div#disneyid-wrapper::after {
  position: 0;
  display: block !important;
  opacity: 1 !important ;
  z-index: 9999999 !important;
} */
/* div#disneyid-wrapper.state-active {
  display: none !important;
} */
/* header */
/* div.content.ng-scope {
  height: 140vh;
}
body.ng-strict-di {
  height: 140vh;
} */
.header.ng-scope {
  /* height: 100%; */
  margin: 0;
  margin-bottom: -30px;
  width: 100vw;
  height: 170px;
}
.logo-primary {
  position: relative;
  height: 100%;
  background-image: url(https://DTSEMOBILEDEV.github.io/images/header-ID.png);
  background-size: 100% 100%;
}

/* sign in page  */
/* .main {
  padding-top: -45px;
} */

.title {
  color: #253B56;
  text-transform: uppercase;
  font-size: 11.5px;
  letter-spacing: 1px;
  padding-top: 15px;
  margin-bottom: 0px;
}

/* button */
.btn {
  font-weight: bolder;
}
.btn-primary {
  z-index: 9999999;
  border-radius: 30px 30px 30px 30px !important;
  background: linear-gradient(90deg, rgba(50,105,255,1) 0%, rgba(0,181,255,1) 100%) !important;
}
.btn-secondary {
  z-index: 9999999;
  border-radius: 30px 30px 30px 30px !important;
  border-color:  rgba(0,181,255,1) !important;
  border-width: 2px;
}
.message.state-active + .workflow{
  margin-top: 15px !important;
}
/* .field-group {
  /* margin: 10px; */
  /* padding-bottom: 20px; */

/* checkbox */
.checkbox{
  margin-left: 10px;
  margin-right: 10px;
}
.checkbox input[type="checkbox"]:checked+.name::before {
  -webkit-transition: background-color 70ms;
  transition: background-color 70ms;
  background-color: #2480FF;
  background-size: 1.25rem;
  border-color: #2480FF;
}
/* .field-dob .mask {
  margin: 20px;
} */
/* pop-in error */
.banner.message-error .container {
  z-index: 9999;
  /* position: absolute; */
  background: #FFF2FF;
  border: 1px solid #DD1F00;
  color: #DD1F00;
  border-radius: 15px 15px 15px 15px;
}
/* .container {
  /* padding: 0px; */


/* password box */
.meter-bar .step:first-child {
  border-top-left-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}
.meter-bar .step:last-child {
  border-top-right-radius: 12px !important;
  border-bottom-right-radius:  12px !important;
}

.name {
  display: block;
  color: #253B56;
  font-weight: bolder;
}

a {
  color: #1E87FF;
  font-size: 11.5px;
  font-weight: bolder;
}

div.block.block-need-help-signing-in.block-help-link {
  text-align: center;
}

/* ============================ BEGIN OF FIELDS COLORS ==> NORMAL COLOR, FOCUS COLOR, ERROR COLORS ============================ */
input:not([type="checkbox"]):not([type="radio"]), select, .toggle .name {
  border: 1px solid #8A9BAE;
}

input:not([type='checkbox']):not([type='radio'])::placeholder {
  color: transparent;
}


input:not([type="checkbox"]):not([type="radio"]):focus, select:focus {
  border: 1px solid #0046E4;
}

/* ----------- BEGIN OF ERROR CSS ==> label Error, placeholders error, fields Error, message error ----------- */
.field-error .name {
  color: #DD1F00;
  display: block;
}

/* BEGIN OF placeholder => 1st for normal error fields, 2nd for country error */
.field-error input:not([type='checkbox']):not([type='radio'])::placeholder {
  text-decoration-color: #DD1F00;
  color: transparent;
}

.field-error input:not([type='checkbox']):not([type='radio']).placeholder, .field-error select.placeholder {
  text-decoration-color: #DD1F00;
  color: transparent;
}
/* END OF PLACEHOLDER */

.field-error input:not([type="checkbox"]):not([type="radio"]), .field-error input:not([type="checkbox"]):not([type="radio"]):focus, .field-error select, .field-error select:focus {
  padding-right: 32px;
  border: 1px solid #DD1F00;
}
  
.message-error {
  color: #DD1F00;
}
/* ----------- END OF ERROR CSS ----------- */
/* ============================ END OF FIELDS COLORS ============================ */

.checkbox .name::before {
  border: 2px solid #2480FF;
}